{
  "Flash_ArrowsFly": 1,
  "Flash_BloodBlade": 2,
  "Flash_BlueArrowSmoke": 3,
  "Flash_BubbleBlade": 4,
  "Flash_Butter": 5,
  "Flash_CyanSlight": 6,
  "Flash_EvilBigGravBall": 7,
  "Flash_FastGreenBoom": 8,
  "Flash_Fire": 9,
  "Flash_GreenPoisonous": 10,
  "Flash_InterlacedRays": 11,
  "Flash_Leaves": 12,
  "Flash_Mushroom": 13,
  "Flash_PurpleGravBoom": 14,
  "Flash_PurpleSmoke": 15,
  "Flash_SnowFlake": 16,
  "Flash_SpiralDrill": 17,
  "Flash_TwinkleLittleWhite": 18,
  "Flash_WaterBall": 19,
  "Flash_WhiteFlash": 20,
  "Flash_WhiteLightening": 21,
  "Flash_YellowLightening": 22,
  "Hit_ArrowsFly": 23,
  "Hit_BloodBlade": 24,
  "Hit_BlueArrowSmoke": 25,
  "Hit_BubbleBlade": 26,
  "Hit_Butter": 27,
  "Hit_CyanSlight": 28,
  "Hit_EvilBigGravBall": 29,
  "Hit_FastGreenBoom": 30,
  "Hit_Fire": 31,
  "Hit_FlyCutter": 32,
  "Hit_GreenPoisonous": 33,
  "Hit_InterlacedRays": 34,
  "Hit_Leaves": 35,
  "Hit_LoveHeart": 36,
  "Hit_Mushroom": 37,
  "Hit_PurpleGravBoom": 38,
  "Hit_PurpleSmoke": 39,
  "Hit_SnowFlake": 40,
  "Hit_SpiralDrill": 41,
  "Hit_TwinkleLittleWhite": 42,
  "Hit_WaterBall": 43,
  "Hit_WhiteFlash": 44,
  "Hit_WhiteLightening": 45,
  "Hit_YellowLightening": 46,
  "Hit_YellowLighteningHotBall": 47
}